@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

.logo {
    float: left;
    margin: 3vh 0vh 0vh 3vh;
    display: flex;
    align-items: center;
}

.logo_image {
    float: left;
    width: 4vh;
    height: 4vh;
}

.logo_title {
    float: right;
    margin: 0vh 0vh 0vh 2vh;
    height: 4vh;
}

.menu {
    float: right;
    font-family: Lato;
    font-size: 4vmin;
    font-variant: small-caps;
    margin: 2.4vh 3vh 0vh 0vh;
}

.page {
    color: #646464;
    transition: 0.3s;
}

.page:hover {
    color: #323232;
}

.page:active {
    color: #000000;
}

.page_current {
    color: #323232;
}

.info {
    width: 80vmin;
    margin: 5vw 0vw 0vw 10vw;
}

.content {
    width: 90vmin;
    margin: 5vw 0vw 0vw 5vw;
    text-align: justify;
}

.heading {
    font-family: Lato;
    font-size: 5vh;
    color: #3C3C3C;
}

.inline {
    width: 90vmin;
    margin: 2vh 0vh 2vh 0vh;
}

.link {
    color: #3030F0;
}

.description {
    font-family: Lato;
    font-size: 3vh;
    color: #464646;
    margin: 4vh 0vh 0vh 0vh;
}

.downloads {
    margin: 4vh 0vh 0vh 0vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #646464;
    border-radius: 0.5vh;
    width: 30vh;
    height: 6vh;
    color: #2D2D2D;
    font-family: Lato;
    font-size: 2vh;
    transition: 0.3s;
}

.button:hover {
    background: #F0F0F0;
}

.button:active {
    background: #E0E0E0;
}

.telegram {
    float: right;
    margin: 0vh 3vh 3vh 0vh;
    display: flex;
    align-items: center;
}

.telegram_logo {
    width: 4vh;
    height: 4vh;
}

.telegram_text {
    font-family: Lato;
    font-size: 2.5vh;
    color: #646464;
}

a {
    text-decoration: none;
}

p {
    font-family: Lato;
    font-size: 2vh;
}

header {
    overflow: auto;
}

footer {
    width: 100%;
    left: 0vh;
    bottom: 0vh;
}

@media only screen and (orientation: landscape) {
  footer {
      position: fixed;
  }
}

.menu > ul {
    margin: 0vh;
    padding: 0vh;
}

.menu > ul > li {
    display: inline;
    color: #2D2D2D;
    margin: 0vh 0vh 0vh 2vh;
    list-style-type: none;
    text-align: right;
}
